.b1 {
  text-align: center;
  font-size: large;
  margin-top: 15px;
  font-weight: bolder;
}
.p1 {
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: large;
}
#p2 {
  font-style: italic;
  font-weight: bold;
}
.p3 {
  font-style: italic;
  font-weight: bold;
  color: aquamarine;
}
.p4 {
  font-style: oblique;
  font-weight: bold;
}
#list1 {
  font-style: italic;
}
.s1 {
  text-shadow: 2px 2px 5px red;
  margin-top: 30px;
}
.s2{
  text-shadow: 2px 2px 5px red;
  font-size: large;
  
}
